body {
  background-color: transparent;
}

.ant-card {
  background-color: rgb(18, 18, 18, 0.75);
  border-radius: 12px;
  margin: 8px;

  .ant-card-head {
    color: white !important;
    border-bottom-color: #999999 !important;
  }

  .ant-card-body {
    color: white !important;
    padding: 16px !important;
  }
}

.ant-select {
  color: white !important;

  .ant-select-selector {
    background-color: transparent !important;
    border: 1px solid #999999 !important;
    border-radius: 0 !important;

    .ant-select-selection-placeholder {
      color: #999999 !important;
    }
  }
}

.ant-select-arrow {
  color: #F7F7F7 !important;
}

.ant-input {
  height: 32px;
  color: white !important;
  background-color: transparent !important;
  border: 1px solid #999999 !important;
  border-radius: 0 !important;
}

.ant-input-group-addon {
  color: #F7F7F7 !important;
  background-color: transparent !important;
  border: 1px solid #999999 !important;
  border-radius: 0 !important;
  border-left: none !important;
}

.ant-btn {
  color: white;
  background-color: transparent;
  width: 100%;
  border-radius: 0 !important;
}

.ant-btn:hover, .ant-btn:focus {
  background: transparent;
}

.ant-btn-primary {
  background-color: #1774FF !important;
  border: 0 !important;
}

.ant-btn-dangerous {
  background-color: transparent;
  border: 0 !important;
}

.ant-switch-checked {
  background-color: #FF1744 !important;
}

.ant-divider {
  color: #F7F7F7 !important;
  border-color: #999999 !important;
  margin: 8px 0 !important;
}

.ant-statistic-title{
  color: #F7F7F7;
}

.ant-statistic-content-suffix{
  color: #F7F7F7;
}

.ant-popover-inner {
  background-color: #262626;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.ant-notification-notice-message {
  color: white;
  margin: 4px;
}

.ant-notification-notice {
  background: rgb(17, 17, 17, 0.85);
  padding: 4px 16px;
  width: 300px;
  border-radius: 0px 8px 8px 0px;
  border-left: 4px solid #1774FF;
}

.ant-notification-notice-close {
  color: transparent;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #00E676;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #999999;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #606060;
}

.ant-steps-item-content {
  width: 70px !important;
}

.ant-steps-icon-dot::after {
  top: -6px !important;
  left: -13px !important;
  width: 30px !important;
  height: 16px !important;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background: #00E676 !important;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
  background: #606060 !important;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-tail::after {
  background: #606060 !important;
}

.ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
  background: #606060 !important;
}

.ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
  background: #999999 !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
  background: #00E676 !important;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: #999999;
}

.ant-steps-item-tail {
  margin: 0px 0px 0px 35px !important;
}

.ant-steps-item-icon {
  margin-left: 33.5px !important;
}
