body {
  background-color: #2f3136;
}

.ant-card {
  background-color: #36393f !important;

  .ant-card-head {
    color: white !important;
    border-bottom-color: #202225 !important;
  }

  .ant-card-body {
    color: white !important;
    padding-top: 0 !important;
  }
}

.ant-select {
  color: white !important;

  .ant-select-selector {
    background-color: #202225 !important;
    border: 0 !important;

    .ant-select-selection-placeholder {
      color: #72767d !important;
    }
  }
}

.ant-select-arrow {
  color: white !important;
}

.ant-input {
  color: white !important;
  background-color: #40444b !important;
  border: 0 !important;
}

.ant-input-group-addon {
  color: #b9bbbe !important;
  background-color: #36393f !important;
  border: 0 !important;
}

.ant-btn {
  color: white;
  background-color: transparent;
  width: 100%;
}

.ant-btn-primary {
  background-color: #5865f2 !important;
  border: 0 !important;
}

.ant-divider {
  color: #b9bbbe !important;
  border-color: #b9bbbe !important;
  margin-top: 16px !important;
  margin-bottom: 8px !important;
}

.ant-statistic-title {
  color: white;
}

.ant-statistic-content-value {
  color: white;
}

.ant-statistic-content-suffix {
  color: #b9bbbe;
}

.ant-popover-inner {
  background-color: #36393f;
}
